NEXTAUTH_SECRET=dentist-booking-dev-secret-change-in-production
NEXTAUTH_URL=http://localhost:3000

# API Configuration
NEXT_PUBLIC_API_URL=https://dental-management-api-seven.vercel.app/api
NEXT_PUBLIC_API_DENTISTS_URL=https://dental-management-api-seven.vercel.app/api/dentist
NEXT_PUBLIC_API_AUTH_URL=https://dental-management-api-seven.vercel.app/api/auth